<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create Post</title>
</head>
<header th:replace="layout :: logged-in"></header>
<body>
<h1>Create your own post</h1><br>
<form method="post" th:object="${Post}" th:action="@{/post/create}">
    <label for="title">Title:</label>
    <input type="text" id="title" name="title"/>
    <label for="body">Content:</label>
    <input type="text" id="body" name="body"/>
    <input type="submit" value="Create Post"/>

</form>
</body>
</html>